@import "./Utils/variables";  
@import "./Utils/functions";  
@import "./Utils/extensions";
@import "./Utils/mixins";
@import "./Utils/animations.scss"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
/*achanger*/

body {
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    height:180px;
    .background {
        width:100%;
        height: 150px;
        object-fit: cover;
        position:relative;
    }
    .title {
        position:absolute;
        top:30px;
        color: $white;
        text-align: center;
        display: flex;
        justify-content: center;
        width:80%;
        align-items: center;
        font-size: 20px;
        /*border : 2px solid;*/
        
        
    }
    .toggle-wrapper {

        position:absolute;
        top: 125px;
        .toggle-button {
            background: $secondary;
            color: white;
            text-align: center;
            border-radius: 100%;
            padding:15px 15px;
            display: block;
            cursor: pointer;
            .bar {
             color:$green;   
            }
          }
        .toggle-menu {
            display: none;
            ul{
              list-style: none;
              li {
                  text-align: center;
                  border-top: 1px solid #1e1e1e;
                  a {
                    text-decoration: none;
                    color: $secondary;
                    background: $green;
                    display: block;
                    padding: 10px 0;
                    &:hover {
                        color: $green;
                        background: $secondary;

                    }
                  }
                }
            }
        }
    }
    nav {
        
        display:none;
    }    
}
main {
    
    .construct {
        width:100%;
        display: flex;
        justify-content: center;
        
    }
    
    .title{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divImg {
            width:80%;
            max-width: 400px;
            
            .imgHall {
                object-fit: cover;
                width:100%;
                
            }
            .imgSalle {
                width:100%;
                object-fit: cover;
                
            }
        }
        .textBienvenue {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            word-wrap: break-word;
            margin:1em 0;
            width:90%;
            text-align: center;
            .h1 {
                border: 2px solid $secondary;
                border-radius: 0.5em;
                padding:1em;
                h1{
                    color: #184e77;
                }
                p {
                    color: $green;
                }
            }
            h2 {
                font-size: 20px;
            }
            p {
                margin-top:0;
                margin-bottom: 0.5em;
            }
            .icons {
                display:flex;
                .arrow {
                    color: $green;
                    margin-right: 1em;
                    margin-top: 0.1em;
                }
                p {
                    margin-top:0;
                    margin-bottom: 0.5em; 
                }
            }
        }  
    }
   
    h3 {   
        text-align: center;
        border: 1px solid $green;
        border-radius: 1em;
        padding: 0.5em;
        margin: 2em;
        max-width:100%;
    }
    
    .actus {
        @include title;
        display:flex;
        flex-direction: column;
        align-items: center;
        .important {
            @include flex-center;
            .message {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                background-color: $secondary;
                width:100%;
                border: 2px solid $green;
                border-radius: 1em;
                margin: 1em;
                padding:1em;
            
            }
        }
        .news {
            @include flex-center;
            
            .actu {
                width: 300px;
                height: 500px;
                cursor: pointer;
                &:hover {
                    -webkit-transform:scale(2); /* Safari et Chrome */
                    -moz-transform:scale(2); /* Firefox */
                    -ms-transform:scale(2); /* Internet Explorer 9 */
                    -o-transform:scale(2); /* Opera */
                    transform:scale(2);;
                } 
            }
        }
    }
    .presentation {
        @include title;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        .flex-around {
            display:flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 150px;
                height: 200px;
            }
            .association {
                @include deco-text;
                
                
            }
        }
    }
    .membership {
        @include title;
        display:flex;
        flex-direction: column;
        align-items: center;
        .flex-col {
            display:flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-top: 1em;
                margin-bottom: 2em;
            }
            .parag {
                @include deco-text;
            }
        }
    }
    .partners {
        @include title;
        display:flex;
        flex-direction: column;
        align-items: center;
        .block {
            @include deco-text;
            margin:1em;
            p {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                
            }
            .instit {
                display:flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                img {
                    width: 180px;
                    margin: 1em
                }
            }
            .sponsors{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                img {
                    width: 150px;
                    margin: 1em
                }
            }
        }
    }
    .disciplines {
        @include title;
        display:flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: $green;
            background-color: $secondary;
            
        }
        .dissip {
            display:flex;
            flex-direction: column;
            align-items: center;
            .carambole {
                @include deco-text;
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1.5em;
                p {
                    font-size: 17px;
                }
                img {
                    width:200px;
                }
            }
            .blackball {
                @include deco-text;
                display:flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 17px;
                }
                img {
                    width:200px; 
                }
            }
        }
    }
    /*LE CLUB*/
    .titleClub {
        display: flex;
        justify-content: center;
        h1 {
            border: 2px solid $green;
            border-radius: 1em;
            background-color: $secondary;
            color: $green;
            padding: 0 0.3em;
        }

    }
    .createClub {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include title;
        .paraph {
            @include deco-text;
            p {
                text-align: center;
            }
        }
        .divImg1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1em;
            margin-bottom: 0.5em;
            img {
                max-width: 337.5px;
                width: 90%;
                height: 350px;
                object-fit: cover;
                margin: 0.5em 0;
                border-radius: 0.5em;
                box-shadow: 0px 4px 8px 0px #00000020;
            }
            p {
                @include deco-text;
                text-align: center;
            }
        }
        .divImg2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                max-width: 337.5px;
                width: 90%;
                height: 250px;
                box-shadow: 0px 4px 8px 0px #00000020;
                margin: 0.5em 0;
                border-radius: 0.5em;
            }
            p {
                @include deco-text;
                text-align: center;
            }
        }

    }
    .local {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include title;
        .locauxText {
            @include deco-text;
            margin-bottom: 1em;
            p {
                text-align: center;
            }
            ul {
                li {
                    margin: 0.5em 0;
                }
            }
        }
        .dflexrow {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            img {
                width: 270.5px;
                height: 320px;
                object-fit: cover;
                margin: 0.5em;
                border-radius: 0.5em;
                box-shadow: 0px 4px 8px 0px #00000020;
            }
        }

    }
    .bureau {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include title;
        .bureauText {
            @include deco-text;
            p {
                text-align: center;
    
            }
            ul {
                li {
                    margin: 0.5em 0;
    
                }
            }
        }
        .members {
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
        
            .membersfigure {
                max-width:337.5px;
                width: 90%;
                box-shadow: 0px 4px 8px 0px #00000020;
                border: 2px solid $secondary;
                border-radius: 0.5em;
                margin: 0.5em;
                img {
                    width: 100%;
                    height: 300px;
                    
                    border-radius: 0.5em 0.5em 0 0;
                }
                .membersFigcaption {
                    p {
                        text-align: center;

                    }
                }
            }
        }
    }
    .statutReg {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include title;
        .statuts {
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                @include deco-text;
                text-align: center;
            }
            h3 {
                cursor: pointer;
                background-color: $secondary;
            }
        }
        .regles {
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                @include deco-text;
                text-align: center;
            }
            h3 {
                cursor: pointer;
                background-color: $secondary;
            }
        }

    }
    .clubPhotos {
        display:flex;
        flex-direction: column;
        align-items: center;
        @include title;
        .dflexrow {
            display:flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 90%;
                margin: 0.5em 0;
                border-radius: 0.5em;
                box-shadow: 0px 4px 8px 0px #00000020;
            }
        }

    }
}
@media screen and (min-width: 900px) {
    header {
        height:250px;
        display:flex;
        flex-direction: column;
        align-items: center;
        .background {
            width:100%;
            height: 250px;
            object-fit: cover;
            position:relative;
        }
        .toggle-wrapper{
            display:none;
        }
        nav {
            /*display:box;*/
            /*display: contents;*/
            visibility: visible;
            position: absolute;
            top: 130px;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;        
            a {
                margin: 0.5em;
                cursor: pointer;
                border: 1px solid red;
                border-radius: 0.5em;
                background-color: $green;
                color: $white;
                padding: 0.5em;
                cursor: pointer;
                text-decoration: none;
                box-shadow: 0px 4px 8px 0px #00000020;
                &:hover {
                    color:$secondary;
                    transform: scale(1.02);
                }
            }
        }
    }
    main {
        .title{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 2em;
            .divImg {
                width:30%;
                height:100%;
            }
            .textBienvenue {
                width:33%;
                height:100%;
            }
            
        }
        .presentation {
            .flex-around {
                justify-content: space-around;
                flex-direction: row;
                margin: 0 5em;
                img {
                    width: 150px;
                    height: 200px;
                    margin:1em;
                }
                .association {
                    width:50%;
                }
            }
        }
        .partners {
            .block {
                .instit, .sponsors {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    img {
                        width: 150px;
                    }
                    
                }
            }
        }
        .disciplines {
            .dissip {
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                .carambole, .blackball {
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin:1em;
                    height:600px;
                }
            }
        }
            /*LE CLUB*/
        
        .createClub {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .divImg1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width:100%;
                img {
                    margin: 2em;
                    height: 400px;
                    object-fit: cover;
                }
                p {
                    width: 300px;
                }
            }
            .divImg2 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width:100%;
                img {
                    margin:2em;
                    height: 387px;
                    object-fit: cover;
                }
                p {
                    width: 300px;
                }
            }
        }
        .local {
            .dflexrow {
                img {
                    margin: 1em;
                    width: 300px;
                    object-fit: cover;
                }
            }
        }
        .bureau {
            .members { 
                .membersfigure {
                    margin: 1em;
                }
            }
        }
        .clubPhotos {
            .dflexrow {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                img {
                    object-fit: cover;
                    margin: 1em;
                    width: 450px;
                }
            }
        }
    }
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    .icons{
        display: flex;
        margin:0.5em;
        a {
            margin: 0.5em
        }
        
        
    }
    a {
        color:white;
        font-weight: bold;
        font-size: 20px;
        
        margin-bottom:1em;

    }

}