@import "./Utils/variables";  
@import "./Utils/functions";  
@import "./Utils/extensions";
@import "./Utils/mixins";
@import "./Utils/animations.scss"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
/*achanger*/

body {
    margin: 0 auto;
}
header {
    background-color: $white;
    background-image: url(/images/textureTapisDeBillard.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    margin:0;
    .title {
        color: $white;
        /*text-shadow: 16px;*/
        display: flex;
        justify-content: space-around;
        width:100%;
        align-items: center;
        font-size: 20px;

    }
    
}
main {
    nav {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
         
        a {
            margin: 0.5em;
            cursor: pointer;
            border: 1px solid red;
            border-radius: 0.5em;
            background-color: $green;
            color: $white;
            padding: 0.5em;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color:$secondary;
            }
        }
    }
    /*background-color:$grey;*/
    .construct {
        width:100%;
        display: flex;
        justify-content: center;

    }
    .float {
        background-color: $secondary;
        width:150px;
        display:flex;
        flex-direction: column;
        align-items: center;
        position:fixed;
        border-radius: 1em;
        margin: 1em;
        cursor:pointer;
        
        transform: translateX(-162px);
        &:hover {
            transition-duration: 800ms;
            transform: translateX(0px);
        }
        .pointer {
            width: 16px;
             height: 32px;
            background-color: $secondary;
            clip-path: polygon(0 0, 0 100%, 100% 50%);
            position:absolute;
            top:40px;
            right:-16px;
        }
            
        ul {
           
            padding:0;
            li {
                list-style: none;
                text-decoration: none;
                color:$white;
                margin: 1em;
                cursor:pointer;
            }
        }
    }
    .title{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divImg {
            width:80%;
            
            .imgHall {
                object-fit: cover;
                width:100%;
                  
            }
            .imgSalle {
                width:100%;
                object-fit: cover;
                 
            }
        }
        .textBienvenue {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            word-wrap: break-word;
            margin:1em 0;
            width:90%;
            text-align: center;
            h2 {
                font-size: 20px;
            }
            p {
                margin-top:0;
                margin-bottom: 0.5em;
            }
            .icons {
                display:flex;
                .arrow {
                    color: $green;
                    margin-right: 1em;
                    margin-top: 0.1em;
                }
                p {
                    margin-top:0;
                    margin-bottom: 0.5em; 
                }
            }
            
            

        }
        
    }
    h3 {
        border: 1px solid $green;
        border-radius: 1em;
        padding: 0.5em;
        margin: 2em;
    }
}
@media screen and (min-width: 750px) {
    main {
        .title{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            .divImg {
                width:30%;
                height:100%;
            }
            .textBienvenue {
                width:33%;
                height:100%;
            }

        }
    }
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    .icons{
        display: flex;
        margin:0.5em;
        a {
            margin: 0.5em
        }
        
        
    }
    a {
        color:white;
        font-weight: bold;
        font-size: 20px;
        
        margin-bottom:1em;

    }

}