@charset "UTF-8";
/*titres*/
/*centrer*/
/*décoration du texte*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*achanger*/
body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  height: 180px;
}

header .background {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: relative;
}

header .title {
  position: absolute;
  top: 30px;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  font-size: 20px;
  /*border : 2px solid;*/
}

header .toggle-wrapper {
  position: absolute;
  top: 125px;
}

header .toggle-wrapper .toggle-button {
  background: #dcb444;
  color: white;
  text-align: center;
  border-radius: 100%;
  padding: 15px 15px;
  display: block;
  cursor: pointer;
}

header .toggle-wrapper .toggle-button .bar {
  color: #548235;
}

header .toggle-wrapper .toggle-menu {
  display: none;
}

header .toggle-wrapper .toggle-menu ul {
  list-style: none;
}

header .toggle-wrapper .toggle-menu ul li {
  text-align: center;
  border-top: 1px solid #1e1e1e;
}

header .toggle-wrapper .toggle-menu ul li a {
  text-decoration: none;
  color: #dcb444;
  background: #548235;
  display: block;
  padding: 10px 0;
}

header .toggle-wrapper .toggle-menu ul li a:hover {
  color: #548235;
  background: #dcb444;
}

header nav {
  display: none;
}

main {
  /*LE CLUB*/
}

main .construct {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .title {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title .divImg {
  width: 80%;
  max-width: 400px;
}

main .title .divImg .imgHall {
  object-fit: cover;
  width: 100%;
}

main .title .divImg .imgSalle {
  width: 100%;
  object-fit: cover;
}

main .title .textBienvenue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin: 1em 0;
  width: 90%;
  text-align: center;
}

main .title .textBienvenue .h1 {
  border: 2px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .title .textBienvenue .h1 h1 {
  color: #184e77;
}

main .title .textBienvenue .h1 p {
  color: #548235;
}

main .title .textBienvenue h2 {
  font-size: 20px;
}

main .title .textBienvenue p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

main .title .textBienvenue .icons {
  display: flex;
}

main .title .textBienvenue .icons .arrow {
  color: #548235;
  margin-right: 1em;
  margin-top: 0.1em;
}

main .title .textBienvenue .icons p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

main h3 {
  text-align: center;
  border: 1px solid #548235;
  border-radius: 1em;
  padding: 0.5em;
  margin: 2em;
  max-width: 100%;
}

main .actus {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .actus h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .actus .important {
  display: flex;
  justify-content: center;
}

main .actus .important .message {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #dcb444;
  width: 100%;
  border: 2px solid #548235;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

main .actus .news {
  display: flex;
  justify-content: center;
}

main .actus .news .actu {
  width: 300px;
  height: 500px;
  cursor: pointer;
}

main .actus .news .actu:hover {
  /* Safari et Chrome */
  /* Firefox */
  /* Internet Explorer 9 */
  /* Opera */
  transform: scale(2);
}

main .presentation {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .presentation h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .presentation .flex-around {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .presentation .flex-around img {
  width: 150px;
  height: 200px;
}

main .presentation .flex-around .association {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .membership {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .membership h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .membership .flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .membership .flex-col img {
  margin-top: 1em;
  margin-bottom: 2em;
}

main .membership .flex-col .parag {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .partners {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .partners h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .partners .block {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
}

main .partners .block p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

main .partners .block .instit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .partners .block .instit img {
  width: 180px;
  margin: 1em;
}

main .partners .block .sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .partners .block .sponsors img {
  width: 150px;
  margin: 1em;
}

main .disciplines {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disciplines h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .disciplines h3 {
  color: #548235;
  background-color: #dcb444;
}

main .disciplines .dissip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disciplines .dissip .carambole {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

main .disciplines .dissip .carambole p {
  font-size: 17px;
}

main .disciplines .dissip .carambole img {
  width: 200px;
}

main .disciplines .dissip .blackball {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disciplines .dissip .blackball p {
  font-size: 17px;
}

main .disciplines .dissip .blackball img {
  width: 200px;
}

main .titleClub {
  display: flex;
  justify-content: center;
}

main .titleClub h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
}

main .createClub {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .createClub h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .createClub .paraph {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .createClub .paraph p {
  text-align: center;
}

main .createClub .divImg1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main .createClub .divImg1 img {
  max-width: 337.5px;
  width: 90%;
  height: 350px;
  object-fit: cover;
  margin: 0.5em 0;
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px 0px #00000020;
}

main .createClub .divImg1 p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

main .createClub .divImg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .createClub .divImg2 img {
  max-width: 600px;
  width: 90%;
  height: 300px;
  box-shadow: 0px 4px 8px 0px #00000020;
  margin: 0.5em 0;
  border-radius: 0.5em;
}

main .createClub .divImg2 p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

main .local {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .local h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .local .locauxText {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
}

main .local .locauxText p {
  text-align: center;
}

main .local .locauxText ul {
  text-align: center;
  list-style: none;
}

main .local .locauxText ul li {
  margin: 1em 0;
}

main .local .dflexrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .local .dflexrow img {
  width: 270.5px;
  height: 320px;
  object-fit: cover;
  margin: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px 0px #00000020;
}

main .bureau {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .bureau h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .bureau .bureauText {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
}

main .bureau .bureauText p {
  text-align: center;
}

main .bureau .bureauText ul {
  text-align: center;
  list-style: none;
}

main .bureau .bureauText ul li {
  margin: 1em 0;
  text-decoration: underline;
}

main .bureau .members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .bureau .members .membersfigure {
  max-width: 337.5px;
  width: 90%;
  box-shadow: 0px 4px 8px 0px #00000020;
  border: 2px solid #dcb444;
  border-radius: 0.5em;
  margin: 0.5em;
}

main .bureau .members .membersfigure img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
}

main .bureau .members .membersfigure .membersFigcaption p {
  text-align: center;
}

main .statutReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .statutReg h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .statutReg .statuts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .statutReg .statuts p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

main .statutReg .statuts h3 {
  cursor: pointer;
  background-color: #dcb444;
}

main .statutReg img {
  width: 100px;
}

main .statutReg .regles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .statutReg .regles p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

main .statutReg .regles h3 {
  cursor: pointer;
  background-color: #dcb444;
}

main .clubPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .clubPhotos h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .clubPhotos .dflexrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .clubPhotos .dflexrow img {
  width: 90%;
  margin: 0.5em 0;
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px 0px #00000020;
}

main .titleAnimations {
  display: flex;
  justify-content: center;
}

main .titleAnimations h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
}

main .centerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .centerImg p {
  text-align: center;
  width: 90%;
  border: 2px solid #548235;
  border-radius: 1em;
  padding: 0.3em;
  background-color: #cbdfbd;
}

main .centerImg img {
  margin: 1em 0;
  width: 90%;
  border-radius: 0.5em;
}

main .titleAdhesion {
  display: flex;
  justify-content: center;
}

main .titleAdhesion h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
}

main .titleH2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .titleH2 h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background-color: #548235;
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .block .paraph {
  margin: 0.5em 0;
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .block .paraph p {
  text-align: center;
}

main .block .paraph .exemple1, main .block .paraph .exemple2 {
  border: 3px solid #dcb444;
  padding: 1em;
  margin: 0;
}

main .block .paraph .exemple1 {
  background-color: #548235;
  color: white;
  font-size: 20px;
}

main .block .paraph .exemple2 {
  background-color: #cbdfbd;
}

main .titleCalendrier {
  display: flex;
  justify-content: center;
}

main .titleCalendrier h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
}

main .table {
  display: flex;
  justify-content: center;
}

main .table table {
  border: 2px solid #548235;
  width: 90%;
  word-wrap: break-word;
  margin-bottom: 1em;
}

main .table table .color {
  background-color: bisque;
}

main .table table .color2 {
  background-color: #cbdfbd;
}

main .table table tr {
  height: 100px;
}

main .table table tr td, main .table table tr th {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

main .table table tr th {
  background-color: #548235;
  color: #dcb444;
}

main .titleTDepReg {
  display: flex;
  justify-content: center;
}

main .titleTDepReg h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
  margin: 1em;
  text-align: center;
}

main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .center iframe {
  width: 90%;
  height: 1200px;
}

main .center .titleH2 {
  width: 90%;
}

main .center h3 {
  color: #dcb444;
  background-color: #548235;
}

main .center .rappel {
  text-align: center;
  width: 90%;
  border: 2px solid #548235;
  border-radius: 1em;
  padding: 0.3em;
  background-color: #cbdfbd;
  margin: 1em;
}

main .center .paraph {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

main .center .sizeImg {
  display: flex;
  flex-direction: column;
}

main .center .sizeImg img {
  margin: 1em;
  width: 350px;
  height: 270px;
  border-radius: 0.5em;
}

main .titleTNationaux {
  display: flex;
  justify-content: center;
}

main .titleTNationaux h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
  margin: 1em;
  text-align: center;
}

main .titleCarambole {
  display: flex;
  justify-content: center;
}

main .titleCarambole h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
  margin: 1em;
  text-align: center;
}

main .titleBlackball {
  display: flex;
  justify-content: center;
}

main .titleBlackball h1 {
  border: 2px solid #548235;
  border-radius: 1em;
  background-color: #dcb444;
  color: #548235;
  padding: 0 0.3em;
  margin: 1em;
  text-align: center;
}

main section .block .paraph .pointer .regles {
  cursor: pointer;
}

main .reglesBlackball .block {
  width: 100%;
}

main .reglesBlackball .block .centerImg {
  width: 90%;
}

main .reglesBlackball .block .centerImg img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  header {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .background {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
  }
  header .toggle-wrapper {
    display: none;
  }
  header nav {
    /*display:box;*/
    /*display: contents;*/
    visibility: visible;
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  header nav a {
    margin: 0.5em;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 0.5em;
    background-color: #548235;
    color: #FFF;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px #00000020;
  }
  header nav a:hover {
    color: #dcb444;
    transform: scale(1.02);
  }
  main {
    /*LE CLUB*/
  }
  main .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
  }
  main .title .divImg {
    width: 30%;
    height: 100%;
  }
  main .title .textBienvenue {
    width: 33%;
    height: 100%;
  }
  main .presentation .flex-around {
    justify-content: space-around;
    flex-direction: row;
    margin: 0 5em;
  }
  main .presentation .flex-around img {
    width: 150px;
    height: 200px;
    margin: 1em;
  }
  main .presentation .flex-around .association {
    width: 50%;
  }
  main .partners .block .instit, main .partners .block .sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .partners .block .instit img, main .partners .block .sponsors img {
    width: 150px;
  }
  main .disciplines .dissip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .disciplines .dissip .carambole, main .disciplines .dissip .blackball {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
    height: 600px;
  }
  main .createClub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .createClub .divImg1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  main .createClub .divImg1 img {
    margin: 2em;
    height: 400px;
    object-fit: cover;
  }
  main .createClub .divImg1 p {
    width: 300px;
  }
  main .createClub .divImg2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  main .createClub .divImg2 img {
    margin: 2em;
    height: 387px;
    object-fit: cover;
  }
  main .createClub .divImg2 p {
    width: 300px;
  }
  main .local .dflexrow img {
    margin: 1em;
    width: 300px;
    object-fit: cover;
  }
  main .bureau .members .membersfigure {
    margin: 1em;
  }
  main .clubPhotos .dflexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .clubPhotos .dflexrow img {
    object-fit: cover;
    margin: 1em;
    width: 450px;
  }
  main section .block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main section .block .centerImg p {
    width: 300px;
    text-align: center;
    border: 2px solid #548235;
    border-radius: 1em;
    padding: 0.3em;
    background-color: #cbdfbd;
  }
  main section .block .centerImg img {
    max-width: 400px;
    margin: 1em;
    border-radius: 0.5em;
  }
  main .block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .block .paraph {
    width: 500px;
    margin: 1em;
  }
  main .block .under {
    text-decoration: underline;
  }
  main .center .sizeImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .reglesBlackball .block {
    width: 100%;
  }
  main .reglesBlackball .block .centerImg {
    width: 90%;
  }
  main .reglesBlackball .block .centerImg img {
    min-width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #548235;
}

footer .icons {
  display: flex;
  margin: 0.5em;
}

footer .icons a {
  margin: 0.5em;
}

footer a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */