@charset "UTF-8";
/*titres*/
/*centrer*/
/*décoration du texte*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes slidy {
  0% {
    left: 0%;
  }
  7% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  19% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  31% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  43% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  55% {
    left: -400%;
  }
  60% {
    left: -500%;
  }
  67% {
    left: -500%;
  }
  72% {
    left: -600%;
  }
  79% {
    left: -600%;
  }
  84% {
    left: -700%;
  }
  91% {
    left: -700%;
  }
  96% {
    left: -800%;
  }
  98% {
    left: -800%;
  }
  100% {
    left: -900%;
  }
}

@keyframes slidy2 {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  35% {
    left: -100%;
  }
  60% {
    left: -100%;
  }
  65% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slidy3 {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*achanger*/
body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  height: 180px;
}

header .background {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: relative;
}

header .title {
  position: absolute;
  top: 30px;
  color: #f4e4ba;
  text-shadow: 4px 4px 2px rgba(84, 130, 53, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  font-size: 20px;
}

header .nav input {
  display: none;
}

header .nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0px;
}

header .nav > .nav-btn > label {
  display: inline-block;
  width: 25px;
  height: 50px;
  padding: 15px;
}

header .nav > .nav-btn > label:hover, header .nav #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
}

header .nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}

header .nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #548235;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 150px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

header .nav > .nav-links > a {
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 0.5em;
  background: #4b9422;
  background: linear-gradient(9deg, #4b9422 45%, rgba(160, 220, 68, 0.451418) 100%);
  color: #FFF;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 8px 0px #00000020;
}

header .nav > .nav-links > a:hover {
  color: #dcb444;
  transform: scale(1.02);
}

header .nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}

header .nav > #nav-check:checked ~ .nav-links {
  height: calc(625px - 50px);
  overflow-y: auto;
}

main {
  background: #3ed591;
  background: linear-gradient(17deg, rgba(62, 213, 145, 0.826768) 6%, rgba(15, 231, 217, 0) 100%);
  /*LE CLUB*/
}

main .title {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title .divImg {
  width: 80%;
  max-width: 400px;
}

main .title .divImg .imgHall {
  object-fit: cover;
  width: 100%;
}

main .title .divImg .imgSalle {
  width: 100%;
  object-fit: cover;
}

main .title .textBienvenue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin: 1em 0;
  width: 90%;
  text-align: center;
}

main .title .textBienvenue .h1 {
  border: 2px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
}

main .title .textBienvenue .h1 h1 {
  color: #184e77;
}

main .title .textBienvenue .h1 p {
  color: #548235;
}

main .title .textBienvenue h2 {
  font-size: 20px;
}

main .title .textBienvenue p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

main .title .textBienvenue .icons {
  display: flex;
}

main .title .textBienvenue .icons .arrow {
  color: #548235;
  margin-right: 1em;
  margin-top: 0.1em;
}

main .title .textBienvenue .icons p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

main h3 {
  text-align: center;
  border: 1px solid #548235;
  border-radius: 1em;
  padding: 0.5em;
  margin: 2em;
  max-width: 100%;
}

main .actus {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .actus h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .actus .important {
  display: flex;
  justify-content: center;
}

main .actus .important .message {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #dcb444;
  width: 100%;
  border: 2px solid #548235;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

main .actus .news {
  display: flex;
  justify-content: center;
}

main .actus .news .actu {
  width: 300px;
  height: 500px;
  cursor: pointer;
}

main .actus .news .actu:hover {
  /* Safari et Chrome */
  /* Firefox */
  /* Internet Explorer 9 */
  /* Opera */
  transform: scale(2);
}

main .presentation {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .presentation h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .presentation .flex-around {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .presentation .flex-around img {
  width: 150px;
  height: 200px;
}

main .presentation .flex-around .association {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
}

main .membership {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .membership h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .membership .flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .membership .flex-col img {
  margin-top: 1em;
  margin-bottom: 2em;
}

main .membership .flex-col .parag {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
}

main .partners {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .partners h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .partners .block {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  margin: 1em;
}

main .partners .block p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

main .partners .block .instit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .partners .block .instit a {
  width: 180px;
  margin: 1em;
  display: flex;
}

main .partners .block .instit a img {
  width: 100%;
}

main .partners .block .sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main .partners .block .sponsors a {
  display: flex;
  width: 180px;
  margin: 1em;
}

main .partners .block .sponsors a img {
  width: 100%;
}

main .disciplines {
  display: flex;
  justify-content: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1em;
}

main .disciplines h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .disciplines h3 {
  color: #548235;
  font-size: 23px;
  background-color: #dcb444;
}

main .disciplines .dissip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disciplines .dissip .carambole {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

main .disciplines .dissip .carambole p {
  font-size: 17px;
}

main .disciplines .dissip .carambole img {
  width: 200px;
}

main .disciplines .dissip .blackball {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disciplines .dissip .blackball p {
  font-size: 17px;
}

main .disciplines .dissip .blackball img {
  width: 200px;
}

main .titleClub {
  display: flex;
  justify-content: center;
}

main .titleClub h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .createClub {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .createClub h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .createClub .paraph {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
}

main .createClub .paraph p {
  text-align: center;
}

main .createClub .divImg1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main .createClub .divImg1 img {
  max-width: 337.5px;
  width: 90%;
  height: 350px;
  object-fit: cover;
  margin: 0.5em 0;
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px 0px #00000020;
}

main .createClub .divImg1 p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
}

main .createClub .divImg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .createClub .divImg2 img {
  max-width: 600px;
  width: 90%;
  height: 300px;
  box-shadow: 0px 4px 8px 0px #00000020;
  margin: 0.5em 0;
  border-radius: 0.5em;
}

main .createClub .divImg2 p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
}

main .local {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .local h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .local .locauxText {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  margin-bottom: 1em;
}

main .local .locauxText p {
  text-align: center;
}

main .local .locauxText ul {
  text-align: center;
  list-style: none;
}

main .local .locauxText ul li {
  margin: 1em 0;
}

main .local .dflexrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .local .dflexrow img {
  width: 270.5px;
  height: 320px;
  object-fit: cover;
  margin: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px 0px #00000020;
}

main .bureau {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .bureau h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .bureau .bureauText {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  margin-bottom: 1em;
}

main .bureau .bureauText p {
  text-align: center;
}

main .bureau .bureauText ul {
  text-align: center;
  list-style: none;
}

main .bureau .bureauText ul li {
  margin: 1em 0;
  text-decoration: underline;
}

main .bureau .members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .bureau .members .membersfigure {
  max-width: 148px;
  box-shadow: 0px 4px 8px 0px #00000020;
  border: 3px solid #dcb444;
  border-radius: 0.7em;
  margin: 0.5em;
}

main .bureau .members .membersfigure img {
  display: flex;
  justify-content: center;
  width: 144px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid white;
}

main .bureau .members .membersfigure .membersFigcaption {
  padding-top: 0.3em;
}

main .bureau .members .membersfigure .membersFigcaption p {
  text-align: center;
  margin: 0 0.3em;
}

main .statutReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .statutReg h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .statutReg .statuts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .statutReg .statuts p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
}

main .statutReg .statuts h3 {
  cursor: pointer;
  background-color: #dcb444;
}

main .statutReg img {
  width: 100px;
}

main .statutReg .regles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .statutReg .regles p {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
}

main .statutReg .regles h3 {
  cursor: pointer;
  background-color: #dcb444;
}

main .clubPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
  margin: 0;
  padding: 1em;
}

main .clubPhotos h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .clubPhotos .slider {
  width: 95%;
  border-radius: 1em;
  max-width: 500px;
  overflow: hidden;
}

main .clubPhotos .slider .caroussel {
  position: relative;
  width: 900%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 49s slidy infinite;
}

main .clubPhotos .slider .caroussel img {
  width: 11.11%;
  height: 250px;
  float: left;
}

main .titleAnimations {
  display: flex;
  justify-content: center;
}

main .titleAnimations h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .titleAnimations .titleH2 {
  width: 80%;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .slider {
  width: 90%;
  border-radius: 1em;
  max-width: 500px;
  overflow: hidden;
}

main section .slider .caroussel {
  position: relative;
  width: 900%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 15s slidy2 infinite;
}

main section .slider .caroussel img {
  width: 11.11%;
  height: 250px;
  float: left;
}

main section .champion {
  text-align: center;
  width: 90%;
  border: 2px solid #548235;
  border-radius: 1em;
  padding: 0.3em;
  background-color: #cbdfbd;
}

main section .centerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section .centerImg p {
  text-align: center;
  width: 90%;
  border: 2px solid #548235;
  border-radius: 1em;
  padding: 0.3em;
  background-color: #cbdfbd;
}

main section .centerImg img {
  margin: 1em 0;
  width: 90%;
  border-radius: 0.5em;
}

main .titleAdhesion {
  display: flex;
  justify-content: center;
}

main .titleAdhesion h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .titleH2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

main .titleH2 h2 {
  border: 1px solid #dcb444;
  color: #FFF;
  background: #548235;
  background: linear-gradient(9deg, #548235 45%, rgba(28, 228, 17, 0.795956) 100%);
  border-radius: 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  padding: 0.3em;
  text-align: center;
  width: 90%;
}

main .block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .block .paraph {
  margin: 0.5em 0;
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
}

main .block .paraph p {
  text-align: center;
}

main .block .paraph .exemple1, main .block .paraph .exemple2 {
  border: 3px solid #dcb444;
  padding: 1em;
  margin: 0;
}

main .block .paraph .exemple1 {
  background-color: #548235;
  color: white;
  font-size: 20px;
}

main .block .paraph .exemple2 {
  background-color: #cbdfbd;
}

main .block .ball {
  width: 250px;
}

main .titleCalendrier {
  display: flex;
  justify-content: center;
}

main .titleCalendrier h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .table {
  display: flex;
  justify-content: center;
}

main .table table {
  border: 2px solid #548235;
  width: 90%;
  word-wrap: break-word;
  margin-bottom: 1em;
}

main .table table .color {
  background-color: bisque;
}

main .table table .color2 {
  background-color: #cbdfbd;
}

main .table table tr {
  height: 100px;
}

main .table table tr td, main .table table tr th {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

main .table table tr th {
  background-color: #548235;
  color: #dcb444;
}

main .titleTDepReg {
  display: flex;
  justify-content: center;
  margin: 2em;
}

main .titleTDepReg h2 {
  width: 90%;
  text-align: center;
  font-size: 30px;
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .center .rappel {
  text-align: center;
  width: 90%;
  border: 2px solid #548235;
  border-radius: 1em;
  padding: 0.3em;
  background-color: #cbdfbd;
  margin: 1em;
}

main .center iframe {
  width: 90%;
  height: 900px;
}

main .center .titleH2 {
  width: 90%;
}

main .center h3 {
  color: #dcb444;
  background-color: #548235;
}

main .center .paraph {
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
}

main .center .sizeImg {
  display: flex;
  flex-direction: column;
}

main .center .sizeImg img {
  margin: 1em;
  width: 350px;
  height: 270px;
  border-radius: 0.5em;
}

main .slider5 {
  width: 90%;
  border-radius: 1em;
  max-width: 500px;
  overflow: hidden;
}

main .slider5 .caroussel {
  position: relative;
  width: 900%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 15s slidy3 infinite;
}

main .slider5 .caroussel img {
  width: 11.11%;
  height: 220px;
  float: left;
}

main .titleNationaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

main .titleNationaux h2 {
  text-align: center;
  font-size: 30px;
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .block2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .slider4 {
  width: 90%;
  border-radius: 1em;
  max-width: 500px;
  overflow: hidden;
  margin: 1em 0;
}

main .slider4 .caroussel {
  position: relative;
  width: 900%;
  height: 380px;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 15s slidy3 infinite;
}

main .slider4 .caroussel img {
  width: 11.11%;
  height: 380px;
  float: left;
}

main .natBlack {
  padding-bottom: 1em;
}

main .titleCarambole {
  display: flex;
  justify-content: center;
}

main .titleCarambole h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main .titleBlackball {
  display: flex;
  justify-content: center;
}

main .titleBlackball h1 {
  border: 2px solid #548235;
  border-radius: 0.5em;
  background: #299129;
  background: linear-gradient(9deg, #299129 39%, rgba(219, 231, 22, 0.451418) 100%);
  color: white;
  padding: 0 0.8em;
}

main section .block .paraph .pointer .regles {
  cursor: pointer;
}

main .reglesBlackball .block {
  width: 100%;
}

main .reglesBlackball .block .centerImg {
  width: 90%;
}

main .reglesBlackball .block .centerImg img {
  width: 100%;
}

main .adresse {
  width: 100%;
}

main .adresse .cdv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid #dcb444;
  border-radius: 0.5em;
  padding: 1em;
  color: #184e77;
  text-align: center;
  margin: 1em 0;
}

main .adresse .cdv .paraphcdv {
  margin-bottom: 1em;
}

main .adresse .cdv img {
  width: 150px;
}

main .location {
  width: 100%;
}

main .location .maps {
  margin: 1em 0;
  width: 90%;
}

main .location .maps iframe {
  border-radius: 0.5em;
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 900px) {
  header {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .background {
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  header .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #548235;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 150px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  header .nav > .nav-links > a {
    text-align: center;
    margin: 0.5em;
    cursor: pointer;
    height: 20px;
    border: 1px solid red;
    border-radius: 0.5em;
    background: #4b9422;
    background: linear-gradient(9deg, #4b9422 45%, rgba(160, 220, 68, 0.451418) 100%);
    color: #FFF;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px #00000020;
  }
  header .nav > .nav-links > a:hover {
    color: #dcb444;
    transform: scale(1.02);
  }
  header .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  header .nav > #nav-check:checked ~ .nav-links {
    height: calc(105px - 50px);
    overflow-y: auto;
  }
  main {
    padding-top: 3em;
    /*LE CLUB*/
  }
  main .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
  }
  main .title .divImg {
    width: 30%;
    height: 100%;
  }
  main .title .textBienvenue {
    width: 33%;
    height: 100%;
  }
  main .presentation .flex-around {
    justify-content: space-around;
    flex-direction: row;
    margin: 0 5em;
  }
  main .presentation .flex-around img {
    width: 150px;
    height: 200px;
    margin: 1em;
  }
  main .presentation .flex-around .association {
    width: 50%;
  }
  main .partners .block .instit, main .partners .block .sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .partners .block .instit img, main .partners .block .sponsors img {
    width: 150px;
  }
  main .disciplines .dissip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .disciplines .dissip .carambole, main .disciplines .dissip .blackball {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
    height: 600px;
  }
  main .createClub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .createClub .divImg1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  main .createClub .divImg1 img {
    margin: 2em;
    height: 400px;
    object-fit: cover;
  }
  main .createClub .divImg1 p {
    width: 300px;
  }
  main .createClub .divImg2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  main .createClub .divImg2 img {
    margin: 2em;
    height: 387px;
    object-fit: cover;
  }
  main .createClub .divImg2 p {
    width: 300px;
  }
  main .local .dflexrow img {
    margin: 1em;
    width: 300px;
    object-fit: cover;
  }
  main .bureau .members .membersfigure {
    width: 280px;
    margin: 1em;
  }
  main section .titleH2 {
    width: 80%;
  }
  main section .block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  main section .block .centerImg p {
    width: 300px;
    text-align: center;
    border: 2px solid #548235;
    border-radius: 1em;
    padding: 0.3em;
    background-color: #cbdfbd;
  }
  main section .block .centerImg img {
    max-width: 400px;
    margin: 1em;
    border-radius: 0.5em;
  }
  main .block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .block .paraph {
    width: 500px;
    margin: 1em;
  }
  main .block .under {
    text-decoration: underline;
  }
  main .reglesBlackball .block {
    width: 100%;
  }
  main .reglesBlackball .block .centerImg {
    width: 90%;
  }
  main .reglesBlackball .block .centerImg img {
    min-width: 100%;
  }
  main .adresse {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  main .adresse .cdv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 700px;
    width: 80%;
    border: 1px solid #dcb444;
    border-radius: 0.5em;
    padding: 1em;
    color: #184e77;
    text-align: center;
    margin: 1em 0;
  }
  main .adresse .cdv img {
    width: 150px;
  }
  main .location {
    width: 100%;
  }
  main .location .maps {
    margin: 2em 0;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  main .location .maps iframe {
    border-radius: 0.5em;
    width: 900px;
    height: 600px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #548235;
}

footer .icons {
  display: flex;
  margin: 0.5em;
}

footer .icons a {
  margin: 0.5em;
}

footer a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */