//------------------------
//Les Animations
//------------------------

@keyframes slidy {
    0% { left: 0%; }
    7% { left: 0%; }

    12% { left: -100%; }
    19% { left: -100%; }

    24% { left: -200%; }
    31% { left: -200%; }

    36% { left: -300%; }
    43% { left: -300%; }

    48% { left: -400%; }
    55% { left: -400%; }

    60% { left: -500%; }
    67% { left: -500%; }

    72% { left: -600%; }
    79% { left: -600%; }

    84% { left: -700%; }
    91% { left: -700%; }

    96% { left: -800%; }
    98% { left: -800%; }

    100% { left: -900%; }
  }
  @keyframes slidy2 {
    0% { left: 0%; }
    30% { left: 0%; }

    35% { left: -100%; }
    60% { left: -100%; }

    65% { left: -200%; }
    95% { left: -200%; }

    100% { left: -300%; }
  }
  @keyframes slidy3 {
    0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }